#navbar {
    margin-top: 4%;
    font-family: 'Montserrat', sans-serif;
}

body    {
    background-color: #fff;
}

#header {
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

h1  {
    font-family: 'Montserrat', sans-serif;
}

h4  {
    font-family: 'Playfair Display', serif;
}

.icons-wrapper  {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-pict   {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}